// @import "./reset.scss";

$mainlColor: #ff0000;

.red {
  color: $mainlColor;
}

// div.container h4 {
//   color: blue;
// }

// div.container p {
//   color: green;
// }

// div.container {
//   h4 {
//     color: blue;
//   }

//   p {
//     color: green;
//   }
// }

// .my-alert {
//   background: #eee;
//   padding: 20px;
//   border-radius: 5px;
//   max-width: 500px;
//   width: 100%;
//   margin: auto;
// }

@mixin 함수() {
  background: #eee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.my-alert {
  @include 함수();
}

.my-alert2 {
  @extend .my-alert;
  background-color: #ffe591;
}

.my-alert p {
  margin-bottom: 0;
}
